body {
    background-color: #136F63;
    position: relative;
}

.container-fluid {
    padding: 2% 2% 5% 2%;
    background-color: #041B15;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4CE0D2;
}

#search {
    border-radius: 1mm;
}

#findButton,
button {
    background-color: #4CE0D2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #136F63;
    margin: 1px;
    cursor: pointer;
    border-radius: 1mm;
}

.col-md-3 {
    width : 25%;
    float: left;
}

.col-md-9 {
    width: 75%;
    float: left;
}

.container {
    background-color: #4ce0D2;
    width: 1000px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    float: left;
    margin: auto;
}

.col {
    float: left;
    margin: auto;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #041B15;
    text-align: center;
}
